{% extends 'base-back.html.twig' %}

{% block title %}Edit Leftovers{% endblock %}

{% block body %}
    <h1>Modifier Leftovers</h1>

    {{ include('leftovers/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_leftovers_index') }}">Retour liste</a>

    {{ include('leftovers/_delete_form.html.twig') }}
{% endblock %}
