<form method="post" action="{{ path('delete_livraison', {'id': livraison.id}) }}" onsubmit="return confirm('Are you sure you want to delete this delivery?');">
    <button class="btn">Delete</button>
</form>
